@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <img src="~/img/img-grande.jpg" class="rounded" style=" max-width: 100%; width: 100%; top:initial ">
</div>
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded" src="~/img/img2-full.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Fabrica de Coco Pelado?</h2>
                    <p>Tudo começou em 1987, quando um pequeno produtor, Sr. Dias, plantou seu primeiro coqueiro no Distrito do Calumbi I, em Paraipaba/CE, onde está uma das mais belas praias do mundo, Lagoinha.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5 "><img class="img-fluid " src="~/img/img3-full.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Venha trabalhar conosco</h2>
                    <p>Estamos precisando de entregadores, muito fácil para você cadastrar apenas você ir nossa barra, lá vai tar escrito cadastrar entra em cadastrar inserir todos os campo e entraremos em contatos com você.</p>
                </div>
            </div>
        </div>
    </div>
</section>
