@page
@model PrivacyModel
@{
    ViewData["Title"] = "Produtos";
}
<h1>@ViewData["Title"]</h1>

<div class="container theme-showcase" role="main">
    <div class="page-header">
    </div>
    <br />
    <h1 class="text-center">Nossos Produtos</h1>
    <br />
    <div class="row ">
        <div class="col-sm-6 col-md-4 item-portfolio holder">
            <div class="img-thumbnail">
                <img class="img-fluid rounded" src="~/img/acucar.jpg" />
                <div class="figure-caption">
                    <h3>Açúcar de Coco Coco Pelado 350g</h3>
                    <p>
                        100% natural;
                        Baixo índice glicêmico;
                        Sem adoçantes artificiais;
                        Fonte natural de minerais como ferro, potássio, magnésio, zinco e vitaminas do complexo B;
                        Livre de gorduras trans;
                        Sem glúten;
                        Livre de conservantes, corantes e aromatizantes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 item-portfolio holder">
            <div class="img-thumbnail">
                <img class="img-fluid rounded" src="~/img/agua-de-coco-concentrada-dikoko-250kg.jpg" />
                <div class="figure-caption">
                    <h3>Água de Coco Concentrada Coco Pelado 250Kg</h3>
                    <p>
                        A Água de Coco Coco Pelado é Integral, sem adição de qualquer água reconstituída, concentrado ou água. Possui um alto poder de hidratação e um conjunto de nutrientes preciosos ao nosso organismo. Uma ótima opção para matar a sede no verão ou após atividades físicas, além de ser uma combinação deliciosa quando misturada a drinques, uísque e coquetéis. Mais praticidade e sabor na hora de se refrescar.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="img-thumbnail">
                <img class="img-fluid rounded" src="~/img/agua-de-coco-integral-dikoko-200ml-2-300x300.jpg" />
                <div class="figure-caption">
                    <h3>Água de Coco Integral Coco Pelado 200ml</h3>
                    <p>
                        A Água de Coco Coco Pelado é Integral, sem adição de qualquer água reconstituída, concentrado ou água. Possui um alto poder de hidratação e um conjunto de nutrientes preciosos ao nosso organismo. Uma ótima opção para matar a sede no verão ou após atividades físicas, além de ser uma combinação deliciosa quando misturada a drinques, uísque e coquetéis. Mais praticidade e sabor na hora de se refrescar.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12"><br /></div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="img-thumbnail">
                <img class="img-fluid rounded" src="~/img/agua_de_coco_1000l-300x300.jpg" />
                <div class="figure-caption">
                    <h3>Água de Coco Integral Coco Pelado 1.000 Litros</h3>
                    <p>
                        A Água de Coco Coco Pelado é Integral, sem adição de qualquer água reconstituída, concentrado ou água. Possui um alto poder de hidratação e um conjunto de nutrientes preciosos ao nosso organismo. Uma ótima opção para matar a sede no verão ou após atividades físicas, além de ser uma combinação deliciosa quando misturada a drinques, uísque e coquetéis. Mais praticidade e sabor na hora de se refrescar.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="img-thumbnail">
                <img class="img-fluid rounded" src="~/img/agua_de_coco_1l-300x300.jpg" />
                <div class="figure-caption">
                    <h3>Água de Coco Integral Coco Pelado 1 Litro</h3>
                    <p>
                        A Água de Coco Coco Pelado é Integral, sem adição de qualquer água reconstituída, concentrado ou água. Possui um alto poder de hidratação e um conjunto de nutrientes preciosos ao nosso organismo. Uma ótima opção para matar a sede no verão ou após atividades físicas, além de ser uma combinação deliciosa quando misturada a drinques, uísque e coquetéis. Mais praticidade e sabor na hora de se refrescar.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="img-thumbnail">
                <img class="img-fluid rounded" src="~/img/coco-ralado-puro-fino-brazil-up-5kg-e-10kg-nova-300x300.jpg" />
                <div class="figure-caption">
                    <h3>Coco Ralado Composto Fino Coco Super 5kg e 10kg</h3>
                    <p>
                        Fabricado a partir de cocos selecionados, nosso Coco Ralado Composto Coco Pelado/Coco Super oferece os mesmos benefícios do coco seco para as suas receitas diárias. Ele é levemente adoçado e possui amido. Produto voltado para indústrias de massas no geral, panificação e biscoitos. Apresentando um ótimo custo e benefício.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12"><br /></div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="img-thumbnail">
                <img class="img-fluid rounded" src="~/img/composto-fino-coco-super-5kg-e-10kg-novo-300x300.jpg" />
                <div class="figure-caption">
                    <h3>Coco Ralado Composto Médio Coco Super 5kg e 10kg</h3>
                    <p>
                        Fabricado a partir de cocos selecionados, nosso Coco Ralado Composto Coco Pelado/Coco Super oferece os mesmos benefícios do coco seco para as suas receitas diárias. Ele é levemente adoçado e possui amido. Produto voltado para indústrias de massas no geral, panificação e biscoitos. Apresentando um ótimo custo e benefício
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="img-thumbnail">
                <img class="img-fluid rounded" src="~/img/farinha_de_coco_dikoko_400g-300x300.jpg" />
                <div class="figure-caption">
                    <h3>Farinha de Coco Coco Pelado 400g</h3>
                    <p>
                        Naturalmente rica em fibras e sem glúten, a farinha de coco apresenta baixo índice glicêmico e baixo teor de carboidratos. Além de preservar todos os benefícios do coco, ele pode ser usada tanto in natura, com frutas, cereais, granola e vitaminas, quanto no preparo culinário substituindo a farinha de trigo em diversas utilizações de bolos, panquecas, waffles, cookies e pães.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="img-thumbnail">
                <img class="img-fluid rounded" src="~/img/oleo_de_coco_extra_virgem_250ml_garrafa-2.jpg" />
                <div class="figure-caption">
                    <h3>Óleo de Coco Extra Virgem Coco Pelado 250ml (garrafa)</h3>
                    <p>
                        O Óleo de Coco Extra Virgem Coco Pelado é composto de antioxidantes, diminuindo a ação dos radicais livres, além de ser rico em ácidos graxos, vitamina E, Ômega 6 e Ômega 9. Por ser Prensado a Frio mantém os fitoquímicos naturais, preservando o aroma e sabor;
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
